extends layout

block content
	h1= title
	a.btn.btn-info(href='/new-questions', role='button') Chart for all new questions

	form(action='/', method='post')
		.form-group
			label(for='exampleTextarea') Example textarea
			textarea#exampleTextarea.form-control(rows='3')
		button.btn.btn-primary(type='submit') Submit
	p= message

block script