doctype html
html
	head
		title= title
	link(href='/css/bootstrap.min.css', rel='stylesheet')
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')
		block script
